:root{
    --primary-color: #1a73e8;/*#35495e*/
    --bg-color:#f8f9fa;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Segoe UI', Roboto,sans-serif;
}
.global-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body{
    background:var(--bg-color);
}
header{
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
    text-align: center;
}
/* .logo{
    font-size: 20px;
    color: #5f6368;
    font-weight: 500;
} */
header{
    margin-bottom: 1em;
}
.menu-horizontale{
    /* display: flex;
    justify-content: center; */
    gap: 1em;
    border-bottom: 5px solid  #ffc107;
    background-color: #e0e0e0;
    padding: 1em;
}

.btn{
    padding: 0.5em;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.menu-horizontale .btn:hover{
    background-color: #295c9f;
}

i{
    margin-right: 0.5em;
}

 /* main{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 90%;
    max-width:70em;
    margin:1em 0 0 1em ;
    min-height: 100vh;
} */
.conteneur-menu-verticale,.contenu{
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.nav-vertical{
    padding: 1.5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 2.2em;
    border: none;
    border-radius: 8px;
    color: white;
   background-color: white;
}
.conteneur-menu-verticale nav{
    display: flex;
    flex-direction: column;
}
.lien-verticale{
    margin-top: 1em;
    border-radius: 0 25px 25px 0;
}

 .card-header h3{
    width: 100%;
}
.contenu{
    border: none;
    width: 100%;
    margin-top: 1.5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    height: 100%;
}
a{
    text-decoration: none;
      color: black;
}

footer{
 background-color: #0a192f;
   margin-top: 1em;
}



